<div class="page-header">

  <h2>Appointments</h2>

  <div class="header-actions">

    <input
      type="text"
      class="search-input"
      placeholder="Search patient, doctor or department..."
      [(ngModel)]="searchTerm">

    <select
      class="filter-select"
      [(ngModel)]="selectedStatus">

      <option value="All">All Status</option>
      <option value="Pending">Pending</option>
      <option value="Confirmed">Confirmed</option>
      <option value="Cancelled">Cancelled</option>

    </select>

    <button
      class="add-btn"
      (click)="openModal()">
      + New Appointment
    </button>

  </div>

</div>

<table>
  <thead>
  <tr>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Department</th>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
</thead>

  <tbody>
  <tr *ngFor="let appointment of filteredAppointments">
    <td>{{ appointment.patientName }}</td>
    <td>{{ appointment.doctorName }}</td>
    <td>{{ appointment.department }}</td>
    <td>{{ appointment.date | date:'dd MMM yyyy' }}</td>
    <td>{{ appointment.time }}</td>
     <td>
      <span
        class="status-badge"
        [ngClass]="{
          'confirmed': appointment.status === 'Confirmed',
          'pending': appointment.status === 'Pending',
          'cancelled': appointment.status === 'Cancelled'
        }">
        {{ appointment.status }}
      </span>
    </td>

    <td class="actions">
      <button class="edit-btn" (click)="editAppointment(appointment)">
        Edit
      </button>

      <button class="delete-btn" (click)="deleteAppointment(appointment.id)">
        Delete
      </button>
    </td>
  </tr>
</tbody>
</table>

<div class="modal-backdrop" *ngIf="showModal">

  <div class="modal">

    <div class="modal-header">
      <h3>New Appointment</h3>

      <button  class="close-btn" (click)="closeModal()">
        ✕
      </button>
    </div>


    <div class="modal-body">

      <form [formGroup]="appointmentForm">

        <div class="form-group">
         <label for="patientName">Patient Name</label> 
          <input 
            type="text" 
            formControlName="patientName">
        </div>


        <div class="form-group">
          <label for="doctorName">Doctor Name</label>
          <input 
            type="text" 
            formControlName="doctorName">
        </div>


        <div class="form-group">
          <label for="department">Department</label>
          <input 
            type="text" 
            formControlName="department">
        </div>


        <div class="form-group">
          <label for="date">Date</label>
          <input 
            type="date" 
            formControlName="date">
        </div>


        <div class="form-group">
          <label for="time">Time</label>
          <input 
            type="time" 
            formControlName="time">
        </div>


        <div class="form-group">
       

          <select formControlName="status">
            <option>Pending</option>
            <option>Confirmed</option>
            <option>Cancelled</option>
          </select>

        </div>

      </form>

    </div>


    <div class="modal-footer">

      <button 
        class="cancel-btn"
        (click)="closeModal()">
        Cancel
      </button>


      <button
        class="save-btn"
        type="button"
        (click)="saveAppointment()">
        {{ isEditing ? 'Update Appointment' : 'Save Appointment' }}
      </button>

    </div>

  </div>

</div>